.headerFirst {
  color: #2f4858;
  display: inline-block;
  max-width: 700px;
  padding-left: 500px;
  
}
.flover{
 padding-left: 30px;
  min-width: 300px;

}

.mainInformation{
  display: inline-block;
  max-width: 550px;
  padding: 0px 100px 0px 380px;
}
 

body {
  background: lightgray;
}
a {
  color: rgb(96, 117, 61);
  display: inline-block;
 
 
}
p {
  color: #386d54;
  padding-left: 80px
}
.navigation {
  background: #1b3629;
  padding: 16px;
  
  
}
.navigation__link{
  color: #fff;
  margin-right:26px;
}
.navigation__link--homepage{
  margin-right: 16px;
  color: white;
  
}
.allHeader {
  color:#1b3629;
  padding-left: 70px;
}



